{% extends "base.html" %}
{% block title %} Index {% endblock %}
{%  block content %}
<div class="row col-md-12">
    
    <h1>
        Hello,     
    {% if teacher %}
    {{request.user}}
        {% else %}
        {{ request.user.first_name }} {{ request.user.last_name }}
    {% endif %}
        
</h1>
<hr/>
        <div class="row col-md-12">   
<h2>
    View all exams below
</h2>
    </div>
{% if exams %}


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
      <th>Date Created</th>
      <th>Exam</th>
    </tr>
  </thead>
  <tbody>
      {% for k,v in exams.items %}
        <tr>
      <td>{{k}}</td>
      <td>{{v.exam.points}}</td>
      <td class="date">{{v.exam.time_of_creation.date}}</td>
            <td>
                {% if teacher %}
                 <button onclick="deleteExam('{{k}}')" class="btn btn-primary">
                X
                </button>  
                <a href="/view_results/{{k}}" class="btn btn-secondary">
                View Results
                </a> 
                {% else %}
                {%if v.taken %}
                <b>{{v.taken.points}} / {{v.exam.points}}</b>
                {% else %}
                <a href="/take_test/{{k}}" class="btn btn-secondary">
                Take Exam
                </a>   	
            	{% endif %}
            	{% endif %}
            </td>
    </tr>
{% endfor %}
  
  </tbody>
</table>
    </div>
<script type="text/javascript">
    
    function deleteExam(examName) {
    	$.confirm({
           title: "Delete Exam?",
           content: "Are you sure you want to delete " + examName + "?",
           type: "red",
           buttons: {

                  no: {
                  	text: "No, cancel",
                  	btnClass: "btn btn-primary",
                                  },
                           	yes: {
            		text: "Yes, delete",
            		btnClass: "btn btn-secondary",
            		action: function(){
          $.ajaxSetup({
    beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
        }
	});  
       $.ajax({
       type: "POST",
       contentType: "application/json; charset=utf-8",
       dataType: "json",
       url: "/delete_test/",
       data: JSON.stringify({examName: examName }),
       success: function(data) {
				location.reload();       
    		},
        error: function(error) {
        	console.log(error);
        }
    });
        }
        },
        	}
        });    
    }


    });
</script>
{% else %}
<p class="card card-block col-md-12 center">
    There are currently no exams to take!
</p>
{% endif %}

{% endblock %}