{% extends "base.html" %}
{% block title %} Index {% endblock %}
{%  block content %}
<div class="row col-md-12">
    
    <h1>
        Hello, {{ request.user.first_name }} {{ request.user.last_name }}
        
</h1>
<hr/>
{% if exams %}

    <div class="row col-md-12">   
<h2>
    Choose an exam to take
</h2>
    </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Exam Name</th>
      <th>Points</th>
      <th>Date Created</th>
      <th>Results</th>
    </tr>
  </thead>
  <tbody>
      {% for k,v in exams.items %}
        <tr>
      <td>{{k}}</td>
      <td>{{v.exam.points}}</td>
      <td class="date">{{v.exam.time_of_creation.timestamp}}</td>
            <td>
                {%if v.taken %}
                <b>{{v.taken.points}} / {{v.exam.points}}</b>
                {% else %}
                <a href="/take_test/{{k}}" class="btn btn-secondary">
                Take Exam
                </a>   	
            	{% endif %}
            </td>
    </tr>
{% endfor %}
  
  </tbody>
</table>
    </div>
<script type="text/javascript">
	$(document).ready(function(){
        var date = $(".date").text();
        console.log(date);
        $(".date").html(moment.unix(date).format("MMMM DD, h:mm A"));
    });
</script>
{% else %}
<p class="card card-block col-md-12 center">
    There are currently no exams to take!
</p>
{% endif %}

{% endblock %}