{% extends "base.html" %}
{%  block content %}
{% csrf_token %}
<div class="row col-md-12">
       <div class='loginBox'>
       <h1>
           Exam Taking System
       </h1>
       <p>
           Login / Logout using the forms below.
       </p>
           <p>
               <b>Student Login:</b>
           </p>
       <div id="login" class="row col-md-12 center">
           <div class='g-signin2' data-onsuccess='onSignIn'></div>
       </div>
       
       <br/>
       <br/>
       <div class="row col-md-12">
       <p>
           <b>Teacher Access:</b>
       </p>
       <a href="/TeacherSignup">Teacher Signup</a>
           |
       <a href="/TeacherLogin">Teacher Login</a>
       </div>


    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        if(Cookies.get("account") != null){ 
            $("#login").html("<button class='btn btn-primary' onclick='signOut()'>Sign Out</button>");
        } else {
        }
    });
    
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  var user = {
	userId : profile.getId(),
	userName : profile.getName(),
	userEmail : profile.getEmail(),
	};
 	$.ajaxSetup({
    beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
        }
	});
    $.ajax({
       type: "POST",
       contentType: "application/json; charset=utf-8",
       dataType: "json",
       url: "/studentSignIn/",
       data: JSON.stringify(user),
       success: function(data) {
           		if(Cookies.get("account") == null) {
                  Cookies.set('account', profile.getId());
				  window.location="/";
                }
    		},
        error: function(error) {
        	console.log(error);
        }
    });
}
    
     function signOut() {
    Cookies.remove('account');
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      	window.location="/logout";
    });
  }
</script>
{% endblock %}