{% extends "base.html" %}
{%  block content %}
{% csrf_token %}
   <div class='loginBox'>
       <h1>
           Login
       </h1>
       <div class="g-signin2" data-onsuccess="onSignIn"></div>

</div>
<script type="text/javascript">
function onSignIn(googleUser) {
    
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

  var profile = googleUser.getBasicProfile();
  var user = {
	userId : profile.getId(),
	userName : profile.getName(),
	userEmail : profile.getEmail(),
	};
 	$.ajaxSetup({
    beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
	});
    $.ajax({
       type: "POST",
       contentType: "application/json; charset=utf-8",
       dataType: "json",
       url: "/studentSignIn/",
       data: JSON.stringify(user),
       success: function(data) {
           window.location = "/";
    		},
        error: function(error) {
        	console.log(error);
        }
    });
}
</script>
{% endblock %}