{% extends "base.html" %}
{% block title %} New Exam {% endblock %}
{%  block content %}
    

<script type="text/javascript">
// Please don't judge this code
//  - Caden	
    
let total_questions = 0;

function submitExam() {
      
    let total_points = $("#ExamPoints").val();
    if(!total_points){
        $.alert({
            title: "Error",
            type: "red",
            content: "Please add at least one question"
        });
        return false;
    }
    let form = {};
    // Create the form manually because jesus hates me
    form.examName = $('#examName').val();
    form.totalPoints = $('#ExamPoints').val();
    $('.question').each(function(i, obj) {
      let currentQuestion = "question" + (i+1);
   	  form[currentQuestion] = {};
	$(this).find('.questionName').each(function(j) { 
      form[currentQuestion].title = $(this).val();
	});
	$(this).find('.questionPoints').each(function(j) { 
      form[currentQuestion].points = $(this).val();
	});
        $(this).find('.answerGroup').each(function(j){
            let currentAnswer = "answer" + (j+1);
            form[currentQuestion][currentAnswer] = {};
			$(this).find('#correctAnswer').each(function(k){
			form[currentQuestion][currentAnswer].answerText = $(this).val();

            });
            $(this).find('.correctAnswer').each(function(k){
             form[currentQuestion][currentAnswer].correct = $(this).is(":checked");
            });
        });
    });
    
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
        }
	});
    $.ajax({
       type: "POST",
       contentType: "application/json; charset=utf-8",
       dataType: "json",
       url: "/postNewExam/",
       data: JSON.stringify(form),
       success: function(data) {
           		window.location="/";
    		},
        error: function(error) {
        	console.log(error);
        }
    });
    
    return false;
}    
function updateTotalPoints() {
    let sum = 0;
    $('.questionPoints').each(function(i, obj) {
        if($(this).val()){
          sum += parseInt($(this).val(),10);
        }
	});
    $("#ExamPoints").val(sum);
}    

function addQuestion() {
    let questionNumber = ++total_questions;
    $(".questionContainer").append(
        `
    <div class="question `+questionNumber+`" >
<h2 class="questionTitle `+questionNumber+`"> Quesiton `+questionNumber+`</h2>
<!-- Prepended text-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Question`+questionNumber+`"></label>
  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon">Question `+questionNumber+`</span>
      <input id="Question`+questionNumber+`" name="Question`+questionNumber+`" class="form-control questionName `+questionNumber+`" placeholder="Question `+questionNumber+`" type="text" required>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="QuestionPoints `+questionNumber+`"></label>
  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon">Question Points</span>
      <input id="QuestionPoints`+questionNumber+`" name="QuestionPoints `+questionNumber+`" class="form-control questionPoints" placeholder="Question Points" type="number" required>
    </div>
  </div>
</div>

<!-- Prepended checkbox -->
<div class="form-group options`+questionNumber+`">
  <label class="col-md-4 control-label" for="correctAnswer"></label>
  <div class="col-md-4 option 1">
    <div class="input-group answerGroup">
      <span class="input-group-addon">     
          <input class="correctAnswer 1" type="checkbox">     
      </span>
      <input id="correctAnswer" name="correctAnswer" class="form-control" type="text" placeholder="Answer 1" required>
    </div>
  </div>
        <button class="btn btn-primary" onclick="return addOption('`+questionNumber+`')">
        Add Option
    </button>
</div>
    </div>
	`);    
    
$(".questionPoints").on('keyup change click', function() {
    updateTotalPoints();
	});
$(function(){
  $('#Question'+questionNumber).change(function(){
     $('.questionTitle'+'.'+questionNumber).text($(this).val());
  });
});
    return false;
}
    
function addOption(questionNumber){
    let thisOptionNumber = $(".options" + questionNumber + " .correctAnswer").length + 1;
    $(".options"+questionNumber).append(`<br/><br/><label class="col-md-4 control-label" for="correctAnswer"></label>
  <div class="col-md-4 option ` +  thisOptionNumber + `">
    <div class="input-group answerGroup">
      <span class="input-group-addon">     
          <input class="correctAnswer ` + thisOptionNumber+ `" type="checkbox">     
      </span>
      <input id="correctAnswer" name="correctAnswer" class="answerText form-control" type="text" placeholder="Answer ` + thisOptionNumber + `">
    </div>
  </div>`);
    return false;
}
    
    
</script>
<form action="/postNewExam/" class="form-horizontal" method="POST">
<fieldset>
     {% csrf_token %}

<!-- Form Name -->
<legend>New Exam</legend>

<!-- Prepended text-->
<div class="form-group">
  <label class="col-md-4 control-label" for="examName"></label>
  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon">Exam Name</span>
      <input id="examName" name="examName" class="form-control" placeholder="Exam Name" type="text" required>
    </div>
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="ExamPoints"></label>
  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon">Exam Points</span>
      <input id="ExamPoints" name="ExamPoints" class="form-control" placeholder="Will Be Calculated" type="number" disabled>
    </div>
  </div>
</div>
    <hr/>
     <div class="questionContainer">
    </div>
    <div class="form-group">
  <div class=" row col-md-12" align="center">
    <button class="btn btn-primary" onclick="return addQuestion()">Add Question</button>
    <hr/>
        </div></div>
<div class="form-group">
  <div class=" row col-md-12" align="center">
        <button type="submit" class="btn btn-primary" onclick="return submitExam()">
    Create Exam
    </button>
            </div>
  </div>

</fieldset>
</form>


{% endblock %}