{% extends "base.html" %}
{% block title %} Index {% endblock %}
{%  block content %}
    <h1>
     Good luck {{ request.user.first_name }}!
        
</h1>
<hr/>
{% if exam %}
<form>
<h2>
    <small>You are taking</small>
{{exam.name}}
    <small>worth {{exam.points}} Points </small>
</h2>

{% if questions %}
{% for key, value in questions.items %}
<hr/>
<h2>{{key}} <small>({{value.question.points}})</small></h2>
<hr/>
{% for answerNumber in value.answerGroup.items %}
{% for answer in answerNumber%}
    {%if answer.answer %}
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="{{key}}" id="exampleRadios1" value="{{answerNumber}}">
    {{answer.answer}}
  </label>
</div>
    {% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif%}

<button class="btn btn-primary">
    Submit Answers
</button>
    </form>

{% endif %}

{% endblock %}