{% extends "base.html" %}
{% block title %} Index {% endblock %}
{%  block content %}

    <h1>
     Good luck {{ request.user.first_name }}!    
</h1>
<h4>
    <small>You are taking</small>
{{exam.name}}
    <small>worth {{exam.points}} Points </small>
</h4>
<hr/>
<div class="card">
  <div class="card-block">
<form>
{% if questions %}
{% for key, value in questions.items %}
        <div class="card" style="background-color:#F2F2F2;color:black">
  <div class="card-block">
<h2>{{key}} <small>({{value.question.points}})</small></h2>
<hr/>
      <div class="row col-md-12">

{% for answerNumber in value.answerGroup.items %}
{% for answer in answerNumber%}
    {%if answer.answer %}
        <div class="input-group col-md-6">
      <span class="input-group-addon">
        {{answerNumber.0}}
      </span>
     <span class="input-group-addon">
    <input type="radio" name="{{key}}" value="{{answerNumber}}">
                </span>
      <input type="text" class="form-control answerText" disabled placeholder="{{answer.answer}}">
    </div>
     {% endif %}
{% endfor %}

{% endfor %}
</div>
</div>
    </div>
    <br/>
{% endfor %}
{% endif%}
    <button onclick="" class=" col-md-12 btn btn-secondary">
    Submit Answers
</button>

</form>
      </div>
</div>
{% endblock %}